a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

li {
    margin-left: 30px;
}

.intro {
    font-family: 'Poppins-Regular';
}

.introHello {
    color: #fff;
}

.name {
    color: #fff;
    font-size: 5rem;
}

.job {
    height: 6rem;
    color: #fff705;
    font-size: 4.5rem;
}