<html>
    <div class="nav-container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#aboutMe">About Me</a></li>
            <li><a href="#">Skills</a></li>
        </ol>
    </div>

    <body>
        <div class="container">
            <section class="intro">
                <div class="introHello">Hello, I am </div>
                <div class="name">Jihah Jainis</div>
                <div class="job">
                    <span>Software Developer</span>
                    <span>Java Developer</span>
                    <span>Software Developer</span>
                </div>
                <div class="dev-text">
                    I'm a software developer located in Kuala Lumpur. I completed my Bachelor of Computer Science degree in 2017.
                </div>
                <div class="dev-text">
                    I'm open to learning, adapt to work in a team, freelance opportunities, contract jobs and use skills to solve complex UI challenges and provide value to the growth of an organization.
                </div>
    
                <div class="resumeRow">
                    <button type="submit" onclick="window.open('https://drive.google.com/file/d/1FRdx1STFG7PbzUItIc9DF22a3XXcTsu7/view?usp=share_link')" class="resumeButton">Download resume</button>
                </div>
                <img src="/assets/images/female_work.png" class="dev-img">
        
            </section>

            <section id="aboutMe" class="aboutMe">
                <h3 class="section-heading">ABOUT ME</h3>
                <div class="about-text">
                    Hello! My name is Jihah and I'm a beginner software developer with a passion for programming. I've always been interested in technology, and I started learning to code in my free time a few months ago. So far, I've become proficient in Python and Java and I'm currently working on building a web application using Flask. My goal as a programmer is to contribute to open-source projects and eventually build my own software company. In my free time, I enjoy hiking and playing guitar. I believe my love for problem-solving and creativity translate well into my work as a developer.
                </div>
            </section>
        </div>
        

        
        <div>
            
        </div>
    </body>
</html>



